:root{
  /* Primary */
  --Blue: #5847eb;
  --Light-orange: #ff8c66;/*work*/
  --Soft-blue: #56c2e6;/*play*/
  --Light-red: #ff5c7c;/*study*/
  --Lime-green: #4acf81;/*exercise*/
  --Violet: #7536d3;/*social*/
  --Soft-orange: #f1c65b;/*self care*/
  /* Neutral */
  --Very-dark-blue: #0f1424;
  --Dark-blue: #1c1f4a;
  --Desaturated-blue: #6f76c8;
  --Pale-Blue: #bdc1ff;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  background-color: var(--Very-dark-blue);
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card{
  background-color: var(--Dark-blue);
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}
.perfil-card .info{
  background-color: var(--Blue);
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
.perfil-card .info .img{
  width: 60px;
  height: 60px;
  background-image: url(./images/image-jeremy.png);
  background-size: 60px;
  background-repeat: no-repeat;
  /* object-fit: contain; */
  border: 2px solid white;
  border-radius: 45px ;
}
.info-profile{
  margin-left: 20px;
  /* font-size: 1.2rem; */
  color: var(--Pale-Blue);
}
.info-profile p:nth-child(2){
  font-weight: 400;
  font-size: 1.6rem;
}
.perfil-days{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-days ul{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.perfil-days ul li{
  list-style: none;
  color: var(--Pale-Blue);
  font-size: 1.1rem;
}

.work-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-work.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 240px;
  background-color: var(--Light-orange);
  border-radius: 20px 20px 0 0;
}
.play-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-play.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 240px;
  background-color: var(--Soft-blue);
  border-radius: 20px 20px 0 0;
}
.study-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-study.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 240px;
  background-color: var(--Light-red);
  border-radius: 20px 20px 0 0;
}
.exercise-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-exercise.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 240px;
  background-color: var(--Lime-green);
  border-radius: 20px 20px 0 0;
}
.social-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-social.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 250px;
  background-color: var(--Violet);
  border-radius: 20px 20px 0 0;
}
.self-card .background{
  width: 100%;
  height: 50px;
  background-image: url(./images/icon-self-care.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: 250px;
  background-color: var(--Soft-orange);
  border-radius: 20px 20px 0 0;
}
.info-cards{
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: white;
  padding: 20px;
}
.info-cards div:nth-child(1){
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: auto;
  margin-bottom: 10px;
  background-color: var(--Dark-blue);
  background-image: url(./images/icon-ellipsis.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size:auto; 
  /* background-position-x: 250px; */
}
.info-cards div:nth-child(2){
  height: auto;
  display: flex;
  /* justify-content: space-around; */
}
